.taskbar {
  clip-path: polygon(
    0% 100%,
    0% 100%,
    0% 0%,
    0% 0%,
    6% 8%,
    6% 8%,
    12% 16%,
    12% 16%,
    19% 24%,
    19% 24%,
    27% 30%,
    27% 30%,
    35% 35%,
    35% 35%,
    43% 39%,
    43% 39%,
    51% 40%,
    51% 40%,
    58% 38%,
    58% 38%,
    64% 35%,
    64% 35%,
    71% 30%,
    71% 30%,
    78% 25%,
    78% 25%,
    84% 18%,
    84% 18%,
    89% 11%,
    89% 11%,
    97% 3%,
    97% 3%,
    100% 0%,
    100% 0%,
    100% 100%,
    100% 100%
  );
  background: linear-gradient(
    180deg,
    rgba(58, 58, 106, 0.26) 0%,
    rgba(37, 36, 76, 0.26) 100%
  );
  transform: scaleY(1.25) translateY(-10%);
}

.scroll-box {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}
